# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
/build/  # To allow static builds
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/  # To allow static libraries
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Geosite Server, 1.x
supervisord.pid
supervisord.log
geositeserver/local_settings.py
geositeserver/static/node_modules
geositeserver/static/geositeserver/node_modules
geositeserver/static/temp
geositeserver/static/geositeserver/temp
geositeserver/migrations
*.DS_Store
output.txt
node_modules
scratch.txt
