cython
numpy
httplib2
django
django-cors-headers
gunicorn
gevent
geojson
iso8601
django-jquery
pinax-theme-bootstrap
django_forms_bootstrap
psycopg2
requests
pyyaml
django-taggit
django-taggit-templatetags
django-leaflet
django-autocomplete-light==2.3.3
pymemcache
bleach
markdown
unidecode
git+https://github.com/wfp-ose/wfp-presence-django.git#egg=wfp-presence-django
git+https://github.com/wfp-ose/gaul-django.git#egg=gaul-django
git+https://github.com/wfp-ose/lsib-django.git#egg=lsib-django
git+https://github.com/wfp-ose/geosite-framework-django.git#egg=geosite-framework-django
