{% load geosite_tags %}
<div class="geositeserver-welcome-modals">
  <div
    id="geositeserver-modal-welcome"
    class="geosite-controller geosite-modal modal fade geositeserver-welcome"
    ng-controller="geositeserver-modal-welcome"
    data-controller-name="geositeserver-modal-welcome"
    data-controller-type="geositeserver-modal-welcome"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel">
    <div geositeserver-modal-welcome id="geositeserver-welcome"></div>
  </div>
</div>
