<script type="text/javascript" language="Javascript">
  var _opt = function(options, names, fallback, fallback2)
  {
    if(options != undefined)
    {
      if($.isArray(names))
      {
        var value = undefined;
        for(var i = 0; i < names.length; i++)
        {
          value = options[names[i]];
          if(value != undefined)
              break;
        }
        return value || fallback || fallback2;
      }
      else
          return options[names] || fallback ||  fallback2;
    }
    else
        return fallback || fallback2;
  };
  var opt_i = function(options, names, fallback)
  {
    return _opt(options, names, fallback, 0);
  };
  var opt_s = function(options, names, fallback)
  {
    return _opt(options, names, fallback, "");
  };
  var opt_b = function(options, names, fallback)
  {
    return _opt(options, names, fallback, false);
  };
  var opt_j = function(options, names, fallback)
  {
    return _opt(options, names, fallback, {});
  };
  var highlightFeature = function(e){
    var layer = e.target;
    layer.setStyle(layer.options.hoverStyle);
    if (!L.Browser.ie && !L.Browser.opera){
      layer.bringToFront();
    }
  };
</script>
